<div class="comments" id="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.username}}
    </div>
    <div class="text" placeholder="Leave a comment here">
      {{comment_text}}
    </div>
     <div class="meta">
 {{format_date created_at}}
    </div>
  </section>
  {{/each}}
</div>