<div><!--About Us Section-->
  <div id="about-us" class="container-fluid">
    <div class="row">
      <img src="/images/puppyPlace.jpg">
    </div>
    <div id="about-card" class="card">
      <div id="about-header">
        About PuppyLove!
      </div>
      <div id="about-body" class="card-body">
        <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipiscing elit</h5>
        <p class="card-text">We provide a safe place for pets and pet owners to connect! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
           ut labore et dolore magna aliqua. Vel orci porta non pulvinar neque laoreet suspendisse. 
          Eget nullam non nisi est.</p>
        <p class="card-text">We provide a safe place for pets and pet owners to connect! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Vel orci porta non pulvinar neque laoreet suspendisse. 
           Eget nullam non nisi est.</p>
      </div>
    </div>
  </div>

  <!--Personal Stories-->
   <div class="container-fluid">
  <section id="personal-story" class="stories">
    <article class="story">
      <div class="story-bio text-left">
        <h3>Our PuppyLove Stories</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Vel orci porta non pulvinar neque laoreet suspendisse. Eget nullam non nisi est.</p>
      </div>
    </article>

    <article class="story">
      <img src="/images/petPic.jpg">
      <div class="story-bio text-left">
        <h3>Anthony Jacks</h3>
        <h4>Member since 2019</h4>
        <p>Lorem ipsum dolor sit amt, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Vel orci porta non pulvinar neque laoreet suspendisse. Eget nullam non nisi est.</p>
      </div>
    </article>

    <article class="story">
      <img src="/images/petPic2.jpg">
      <div class="story-bio text-left">
        <h3>Anthony Jacks</h3>
        <h4>Member since 2019</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Vel orci porta non pulvinar neque laoreet suspendisse. Eget nullam non nisi est.</p>
      </div>
    </article>

    <article class="story">
      <img src="/images/petPic3.jpg">
      <div class="story-bio text-left">
        <h3>Anthony Jacks</h3>
        <h4>Member since 2019</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Vel orci porta non pulvinar neque laoreet suspendisse. Eget nullam non nisi est.</p>
      </div>
    </article>
  </section>
  </div>

  <!--About Developers-->
  <div id="team" class="container-fluid">
    <div class="row">
      <img src="/images/impact-team.png">
    <h2 class="team-title">Meet Our Team!</h2>

  </div>
  </div>