<div>
  <!--Furfile-->
  <div id="furfile" class="container-fluid">
    <div class="row">
      <h1 id="furfileTitle" class="text-center">Furfile</h1>
       <h2 id="dogName" class="text-center">Diesel</h2>
      <h3 id="dogAge" class="text-center">Age:5</h3> <h3 id="dogBirthday" class="text-center">Birthday: 5 July, 1998</h3>
      <h3 id="dogBreed" class="text-center">Breed: Husky</h3>
      <h3 id="dogBio" class="text-center">About me: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea
      quos harum voluptates</h3>
    </div>
  </div>
</div>


<br>
<br>
  <h2 id="barkChronicals" class="text-center">Bark Chronicals</h2>

  <section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h1 class="text-center">Puppy Diaries</h1>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}">
        <input type="image" src="/images/editBone.png" width="200" height="100" class="edit-link">
      </a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>
