<div>
  <!--Furfile-->
  <div id="furfile" class="container-fluid">
    <div class="row">
      <h1 id="furfileTitle" class="text-center">Furfile</h1>
       <h2 id="dogName" class="text-center">Diesel</h2>
      <h3 id="dogAge" class="text-center">Age:5</h3> <h3 id="dogBirthday" class="text-center">Birthday: 5 July, 1998</h3>
      <h3 id="dogBreed" class="text-center">Breed: Husky</h3>
      <h3 id="dogBio" class="text-center">About me: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea
      quos harum voluptates</h3>
    </div>
  </div>
</div>

<div>
  <!-- Create the buttons to become the tags -->
  <button class="tab" onclick="openPage('My-Fav-Links', this, '#EDECEF')">My Fav Links!</button>
  <button class="tab" onclick="openPage('Furfriends', this, '#D16E79')">Furfriends</button>
  <button class="tab" onclick="openPage('Calendar', this, '#ffffff')" id="defaultOpen">Calendar</button>
  <button class="tab" onclick="openPage('Puppy-Diaries', this, '#A9C2B9')">Puppy Diaries</button>
  <button class="tab" onclick="openPage('Bark-Chronicles', this, '#242F48')">Bark Chronicles</button>
  <button class="tab" onclick="openPage('Social-Media', this, 'black')">Social Media</button>
</div>
  <!-- Create the content for the tabs -->
  <div id="My-Fav-Links" class="content">
    <h4 style="font-weight: bold;">Take a Look!</h4>
    <a href="https://www.bringfido.com/track?aid=XXX"><img src="https://media.bringfido.com/banners/1.jpg" border="0"
        alt="Dog with it's tounge sticking out for the Bring Fido Pet Friendly Vacations webiste banner." /></a>
    <a
      href="https://www.petsit.com/stuff/contentmgr/files/9/818a6902cce41bd28aeb85c760810099/files/janfeb2020_pet_sitters_world_magazine_download.pdf"><img
        src="assets/images/Pet Sitter's World Magazine.png" width="15%" height="15%"
        alt="A woman walking her german shephard dog on the cover of Pet Sitter's World magazine"></a>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea
      quos harum voluptates totam laborum corrupti repellendus eius aliquid itaque error voluptas, reiciendis unde.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea
      quos harum voluptates totam laborum corrupti repellendus eius aliquid itaque error voluptas, reiciendis unde.</p>
  </div>
  <div id="Furfriends" class="content">
    <h4 style="font-weight: bold;">Meet my peeps!</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea
      quos harum voluptates totam laborum corrupti repellendus eius aliquid itaque error voluptas, reiciendis unde.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea
      quos harum voluptates totam laborum corrupti repellendus eius aliquid itaque error voluptas, reiciendis unde.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea
      quos harum voluptates totam laborum corrupti repellendus eius aliquid itaque error voluptas, reiciendis unde.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem quisquam in laudantium libero aspernatur sed ea
      quos harum voluptates totam laborum corrupti repellendus eius aliquid itaque error voluptas, reiciendis unde.</p>
  </div>

  <div id="Calendar" class="content">
    <div class="elfsight-app-a2f34c6d-37f1-4a77-8fad-88b20a3cb920"></div>
  </div>
<br>
<br>
  <h2 id="barkChronicals" class="text-center">Bark Chronicals</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Post Title: </label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Contents: </label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
{{#if posts.length}}
<section>
  <h2 class="text-center">Puppy Diaries</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}">
        <input type="image" src="/images/editBone.png" width="200" height="100" class="edit-link">
      </a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

