{{> post-info post}}

{{#if loggedIn}}
<div class="card">
<form class="comment-form" id= "comment">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
      <div>
              <a href="">
                <input type="image" src="/images/commentIcon.png" width="50" height="50" name="comment"
                  class="submit" id="">
              </a>
              <a href="">
                <input type="image" src="/images/greenHeart.png" width="50" height="50" name="Like"
                  class="upvote-btn" id="">
              </a>
  </div>

</form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}