* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

  /*Hero-section*/
  .hero-head {
    text-align: center;
    background-color: rgb(107, 188, 181);
  }
.navbar-bg {
  background-color: rgb(107, 188, 181);
}
.hero-body-background {
  text-align: center;
  background-color: white;
}

.btn-primary {
   background-color: rgb(107, 188, 181);
   color: #d34959;
}
.hero-login {
  background-color: rgb(107, 188, 181);
  text-align: center;
}
/*How-To Section Home Page*/
section {
  padding: 60px;
  background-color: rgb(169,194,185);
}
.steps {
  text-align: center;
}
.steps div {
  margin-bottom: 80px;
}
.steps img {
  width: 15%;
  margin: 10px 0;
}
.steps h3 {
  font-size: 46px;
  margin-top: 10px;
}
.steps p {
  font-size: 23px;
}
.steps span {
  font-size: 38px;
}
.section-title {
  font-size: 55px;
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  display: inline-block;
}

/*Footer Section*/
footer {
  width: 100%;
  padding: 40px 35px;
}
footer img {
  width: 15%;
  margin: 10px 0;
}
footer h3 {
  display: inline;
  font-size: 30px;
  margin: 0;
}
footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
}

  .navbar-bg {
    background-color: rgb(107, 188, 181);
  }
  .hero-body-background {
    text-align: center;
    background-color: white;
  }
  .btn-primary {
     background-color: rgb(107, 188, 181);
     color: #d34959;
  }
  .hero-login {
    background-color: rgb(107, 188, 181);
    text-align: center;
  }

/*Card-Section*/
.card{
  transform: translate(-67%,-55%);
  border-style: solid;
  border-color: black;
}
.card-header{
  background-color: rgb(169,194,185);
  color: #d34959;
  font-size: 26px;
}

/*How-To Section Home Page*/
  section {
    padding: 55px;
    background-color: rgb(169,194,185);
    width: 70%; 
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,1%);
  }
  .steps {
    text-align: center;
  }
  .steps div {
    margin-bottom: 70px;
  }
  .steps img {
    width: 15%;
    margin: 10px 0;
  }
  .steps h3 {
    font-size: 46px;
    margin-top: 10px;
  }
  .steps p {
    font-size: 23px;
  }
  .steps span {
    font-size: 38px;
  }
  .section-title {
    font-size: 55px;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
  }

  /*Google API Recommendations*/
  /* Profile css*/
  h4 {
    text-align: center;
    font-weight: bolder;   
}

.tab {
    background-color: rgb(28, 188, 181);
    color: rgb(218, 56, 69);
    font-weight: bold;
    font-size: 25px;
    float: left;
    border: none;
    outline: none;
    padding: 1em 1em;
    width: 16.662%;
}

.tab:hover {
    background-color: rgb(226, 184, 40);
    border-top: solid rgb(209, 110, 121);
    border-left: solid rgb(209, 110, 121);
    border-right: solid rgb(209, 110, 121);
    font-size: 24px;
}

#My-Fav-Links {
    background-color: rgb(237, 236, 239);
}

#Furfriends {
    background-color: rgb(209, 110, 121);
}

#Calendar {
    background-color: rgb(255, 255, 255);
}

#Puppy-Diaries {
    background-color: rgb(169, 194, 185);
}

#Bark-Chronicles {
    background-color: rgb(36, 47, 72);
}

#Social-Media {
    background-color: black;
}

.content {
    color: rgb(218, 56, 69);
    display: none;
    padding: 100px 20px;
    height: 100%;
    font-size: 1em;
}


/* Style the Buttons for the Full Page Tabs Ends */

/* Style for Puppy Diaries Begins */

.btn, .btn-2, .btn-3 {
    color: rgb(218, 56, 69);
    font-family: 'Lobster Two', cursive;
    border: 2px solid rgb(218, 56, 69);
    padding: 5px;
}

.btn:hover,
.btn-2:hover,
.btn-3:hover {
    background-color: rgb(218, 56, 69);
    color: rgb(77, 178, 168);
    font-weight: bold;
}
textarea {
    font-family: 'Lobster Two', cursive;
    color: rgb(218, 56, 69);
    background-color: rgba(28, 188, 180, 0.164);
    padding: 15px;
    margin: 25px;

}
/* Style for Puppy Diaries Ends */

/* Social Media Page Icons Begin */

.fa:hover {
    background: rgb(209, 110, 121);
}

.fa {
    padding: 40px;
    margin: 15px;
}

.fa-facebook {
    background: rgb(59, 89, 152);
    color: white;
    border-radius: 40px 40px 40px 10px;
}

.fa-youtube {
    background: rgb(187, 0, 0);
    color: white;
    border-radius: 40px 40px 40px 10px;
}

.fa-pinterest {
    background: rgb(203, 32, 39);
    color: white;
    border-radius: 40px 40px 40px 10px;
}

.fa-instagram {
    background: rgb(18, 86, 136);
    color: white;
    border-radius: 40px 40px 40px 10px;
}

.fa-twitter {
    background: rgb(85, 172, 238);
    color: white;
    border-radius: 40px 40px 40px 10px;
}

.fa-snapchat-ghost {
    background: rgb(255, 252, 0);
    color: white;
    border-radius: 40px 40px 40px 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
    margin: 5em 2em 5em 2em;
}

  /*Footer Section*/
  footer {
    width: 100%;
    padding: 40px 35px;
    top: 50%;
    left: 50%;
    transform: translate(-10%,1%);
  }
  footer img {
    width: 5%;
    margin: 10px 0;
  }
  footer h3 {
    font-size: 30px;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
  }
  footer div {
    float: right;
    line-height: 1.5;
    text-align: center;
  }

  /*About-Us Section*/
  #about-us{
    background-size: cover;
    background-position: center;
    padding: 40px;
  }
  #about-card{
    width: 40%;
    transform: translate(-120%,-200%);
    border-style: solid;
    border-color: black;
  }
  #about-header{
    width:100%;
    background-color: rgb(169,194,185);
    color: #d34959;
    font-size: 26px;
    padding: 20px;
  }
  .stories{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-13%);
  }
  .story{
    width:900px;
    background-color: rgb(169,194,185);
    font-size: 20px;
    padding: 20px;
  }
  .stories img{
    border-radius: 50%;
    /*change img size*/
    /*add img border*/
    /*add overflow*/
  }

  /*Team Section*/
  #team{
    background-size: cover;
    background-position: center;
    padding: 40px;
    transform: translate(0%,-40%);
  }
  .team-title{
    background-size: cover;
    background-position: center;
    padding: 40px;
    transform: translate(0%,-300%);
    text-align: center;
    color:white;
  }

